body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f4f5f6;
}
.Home_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Service_Container{
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}